#!/usr/bin/make -f
export DH_VERBOSE = 1

DEB_HOST_ARCH_BITS := $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)
DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(DEB_HOST_ARCH_BITS), 32)
	LINUX32 := linux32
endif

BUILDARCH := "Native"

ifeq ($(DEB_HOST_ARCH), armel)
        BUILDARCH = ARM
endif
ifeq ($(DEB_HOST_ARCH), armhf)
        BUILDARCH = ARM
endif
ifeq ($(DEB_HOST_ARCH), arm64)
        BUILDARCH = AArch64
endif
ifeq ($(DEB_HOST_ARCH), i386)
        BUILDARCH = X86
endif
ifeq ($(DEB_HOST_ARCH), amd64)
        BUILDARCH = X86
endif
ifeq ($(DEB_HOST_ARCH), ppc64el)
        BUILDARCH = PowerPC
endif

override_dh_auto_configure:
	mkdir -p buildybuild
	cd buildybuild && $(LINUX32) cmake \
		-DLLVM_TARGETS_TO_BUILD="$(BUILDARCH)" \
		-DLLVM_ENABLE_ASSERTIONS="OFF" \
		-DCMAKE_BUILD_TYPE="Release" \
		-DLLVM_BUILD_TESTS="OFF" \
		-DLLVM_INCLUDE_TESTS="OFF" \
		-DLLVM_BUILD_EXAMPLES="OFF" \
		-DLLVM_INCLUDE_EXAMPLES="OFF" \
		-DLLVM_TOOLS_TO_BUILD="opt;llc;llvm-config;llvm-dis" \
		-DCMAKE_INSTALL_PREFIX=/usr/lib/mono/llvm/ ..

override_dh_auto_build:
	cd buildybuild && $(LINUX32) make

override_dh_auto_clean:
	rm -fr buildybuild
	true

override_dh_auto_test:
	true

override_dh_auto_install:
	cd buildybuild && cmake -DCMAKE_INSTALL_PREFIX=../debian/tmp/usr/lib/mono/llvm/ -P cmake_install.cmake

override_dh_install:
	dh_install
	rm -f debian/mono-llvm-dev/usr/lib/mono/llvm/bin/opt
	rm -f debian/mono-llvm-dev/usr/lib/mono/llvm/bin/llc

%:
	dh $@
