#!/usr/bin/make -f
export DH_VERBOSE = 1

DEB_HOST_ARCH_BITS := $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)

ifeq ($(DEB_HOST_ARCH_BITS), 32)
	LINUX32 := linux32
endif

override_dh_auto_configure:
	$(LINUX32) ./configure --prefix=/usr/lib/mono/llvm --enable-targets=host --enable-optimized

override_dh_auto_clean:
	true

override_dh_auto_test:
	true

override_dh_install:
	dh_install
	rm -f debian/mono-llvm-dev/usr/lib/mono/llvm/bin/opt
	rm -f debian/mono-llvm-dev/usr/lib/mono/llvm/bin/llc

%:
	dh $@
